<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">Event Details</h4>
            <p class="card-category">See your event</p>
          </div>
          <div class="card-body">
            <form>
              <div class="row">
                <div class="col-md-12">
                  <mat-form-field class="example-full-width">
                    <input
                      #name
                      value="{{ event.name }}"
                      matInput
                      placeholder="Name"
                      disabled
                    />
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <mat-form-field class="example-full-width">
                    <input
                      #category
                      value="{{ event.category }}"
                      matInput
                      placeholder="Category"
                      disabled
                    />
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <mat-form-field class="example-full-width">
                    <input
                      #artist
                      value="{{ event.artist }}"
                      matInput
                      placeholder="Artist"
                      disabled
                    />
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <mat-form-field class="example-full-width">
                    <input
                      #img
                      value="{{ event.img }}"
                      matInput
                      placeholder="Image Url"
                      disabled
                    />
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <input
                      value="{{ event.date }}"
                      matInput
                      placeholder="Date"
                      disabled
                    />
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <mat-form-field class="example-full-width">
                    <input
                      #location
                      value="{{ event.location }}"
                      matInput
                      placeholder="Location"
                      disabled
                    />
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <mat-form-field class="example-full-width">
                    <input
                      #minPrice
                      value="{{ event.minPrice }}"
                      matInput
                      placeholder="Min Price"
                      disabled
                    />
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <mat-form-field class="example-full-width">
                    <input
                      #totalTickets
                      value="{{ event.totalTickets }}"
                      matInput
                      placeholder="Total Tickets"
                      disabled
                    />
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <mat-form-field class="example-full-width">
                    <textarea
                      #tickets
                      value="{{ event.tickets }}"
                      rows="30"
                      matInput
                      placeholder="Tickets"
                      disabled
                    ></textarea>
                  </mat-form-field>
                </div>
              </div>
              <button
                (click)="onEdit()"
                mat-raised-button
                type="submit"
                class="btn btn-danger pull-right"
              >
                Edit
              </button>
              <button
              (click)="onDelete()"
              mat-raised-button
              type="submit"
              class="btn btn-danger pull-right"
            >
              Delete
            </button>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>

        <app-tickets-list
        [listFor]="listFor"
        [search]="search"
        [refresh]="refresh"
      ></app-tickets-list>

      </div>
    </div>
    <!-- <app-tickets-list>"jjjj"</app-tickets-list> -->
  </div>
</div>
