<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">Create New Ticket</h4>
            <p class="card-category">Complete your ticket</p>
          </div>
          <div class="card-body">
            <form>
              <div class="row">
                <div class="col-md-12">
                  <mat-form-field class="example-full-width">
                    <input #user matInput placeholder="User" />
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <mat-form-field class="example-full-width">
                    <input #code matInput placeholder="Code" />
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <mat-form-field class="example-full-width">
                    <input #QRcode matInput placeholder="QRcode" />
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <mat-form-field class="example-full-width">
                    <mat-label>Event</mat-label>
                    <mat-select #eventId>
                      <mat-option *ngFor="let event of events" [value]="event._id">
                        {{event.name}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  <!-- <mat-form-field class="example-full-width">
                    <input #articleId [value]="article" [disabled]="isEditable" matInput placeholder="Article ID" />
                  </mat-form-field> -->
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <mat-form-field class="example-full-width">
                    <input #section matInput placeholder="Section" />
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <mat-form-field class="example-full-width">
                    <input #row matInput placeholder="Row" />
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <mat-form-field class="example-full-width">
                    <input #seat matInput placeholder="Seat" />
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <mat-form-field class="example-full-width">
                    <input #forTrade matInput placeholder="For Trade" />
                  </mat-form-field>
                </div>
              </div>
              <button
                (click)="
                  onCreate(
                    user.value,
                    code.value, 
                    QRcode.value, 
                    eventId.value,
                    section.value,
                    row.value,
                    seat.value,
                    forTrade.value
                  )
                "
                mat-raised-button
                type="submit"
                class="btn btn-danger pull-right"
              >
                Create
              </button>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
